#aboutMain {
  height: 80vh;
  background-color: #e4ebf0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#parrafoAboutUs {
  margin: 40px;
  font-weight: bold;
  font-size: larger;
  width: 60%;
  text-align: center;
  background-color: #bdd1de;
  border-radius: 15px;
}
