#main_container {
  display: flex;
  background-color: #f0f2f5;
  width: 100%;
}

#productos_pedido_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #productos_pedido_container {
    flex-direction: row;
  }
}
