footer {
  background-color: #1e293b;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinksFooter {
  color: #e4ebf0;
  text-decoration: none;
  padding: 5px;
  margin: 0px 25px;
}

.navLinksFooter:hover {
  background-color: #e4ebf0;
  color: #4180ab;
  border: 1px solid #4180ab;
  border-radius: 5px;
}
