footer {
  width: 100vw;
  height: 10vh;
  background-color: #8ab3cf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinksFooter {
  color: black;
  text-decoration: none;
  margin: 30px;
}

.navLinksFooter:hover {
  color: #4180ab;
  border: 1px solid #4180ab;
  background-color: #e4ebf0;
  border-radius: 5px;
  padding: 5px;
}
