#gestCat_container {
  width: 89vw;
  height: 100vh;
  background-color: #f0f2f5;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gestCategorias_header {
  width: 100%;
  height: auto;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gestCategorias_tittle {
  color: #1e293b;
  margin-top: 5px;
}

#categories_main {
  height: auto;
  width: 95%;
  margin-top: 5px;
  overflow-y: auto;
}

#categories_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  border: none;
}

#categories_table thead {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#categories_table thead tr th {
  color: #1e293b;
  background-color: #92a7c8;
  text-align: center;
  position: sticky;
  font-family: "Inter";
  font-weight: 600;
  padding: 6px;
}

#categories_table thead tr th:first-child {
  border-radius: 20px 0 0 20px;
}

#categories_table thead tr th:last-child {
  border-radius: 0 20px 20px 0;
}