#main_container {
  display: flex;
  background-color: #f0f2f5;
}

#productos_pedido_container {
  width: 89vw;
  height: 100vh;
  display: flex;
  background-color: red;
  /* margin-left: 140px; */
}
