#logIn_main {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/fondoLogIn.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form_section {
  width: 25%;
  height: fit-content;
  display: flex;
  align-items: center;
}

#logInForm_container {
  width: 100%;
  height: auto;
  color: #f0f2f5;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(30, 41, 59, 0.05);
  backdrop-filter: blur(1px);
  box-shadow: 0 15px 25px 0 rgb(228, 235, 240, 0.5);
}

#imgs_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgIsotipo {
  width: 30px;
  margin-bottom: 3px;
}

#imgLogotipo {
  width: 90px;
}

#logIn_tittle {
  color: #f0f2f5;
  margin: 20px 0px 20px 0px;
  letter-spacing: 0.6px;
}

.campos_Container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.controls_formLogIn {
  height: 40px;
  background-color: rgba(30, 41, 59, 0.4) !important;
  color: #f3f3f2 !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
  margin-bottom: 5px !important;
}

.controls_formLogIn::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 0.9rem;
}

/* Quitar el borde azul por defecto de Bootstrap al hacer click */
.controls_formLogIn:focus {
  background-color: rgba(30, 41, 59, 0.6);
  color: #f0f2f5;
  box-shadow: none;
  border-color: rgb(243, 243, 242, 0.5);
}

#btnIngresar {
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #8ab3cf;
  color: #1e293b;
  border: none;
}

#btnIngresar:hover {
  border: 1px solid #8ab3cf;
  color: #8ab3cf;
  background-color: transparent;
}
