/* PRODUCTOS EN SISTEMA */
#products_container {
  /* background-color: burlywood; */
  width: 54vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products_header {
  /* background-color: blue; */
  width: 98%;
  height: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#products_tittle {
  width: auto;
  height: fit-content;
  color: #1e293b;
  margin-top: 5px;
}

#agregarBuscar_container {
  width: 56%;
  display: flex;
  justify-content: space-between;
}

#cargarProducto {
  background-color: #1e293b;
  color: #f0f2f5;
  border: none;
  border-radius: 20px;
  padding: 6px;
}

#cargarProducto:hover {
  color: #1e293b;
  background-color: #92a7c8;
  border: 1px solid #5576aa;
}

#controlBuscar {
  border-radius: 20px;
  border: 1px solid #5576aa;
}

#products_main {
  height: 90vh;
  width: 100%;
  overflow-y: auto;
}

#products_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;
  border: none;
}

#productsTable_thead {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.columns_TableProducts th {
  color: #1e293b;
  background-color: #92a7c8;
  text-align: center;
  position: sticky;
  font-family: "Inter";
  font-weight: 500;
  padding: 3px;
}

.columns_TableProducts th:first-child {
  border-left: 1px solid #5576aa;
  border-radius: 20px 0 0 20px;
}

.columns_TableProducts th:last-child {
  border-right: 1px solid #5576aa;
  border-radius: 0 20px 20px 0;
}

#products_table tbody tr td {
  border-top: 1px solid #5576aa;
  border-bottom: 1px solid #5576aa;
}

#products_table tbody tr td:first-child {
  border-left: 1px solid #5576aa;
  border-radius: 20px 0 0 20px !important;
}

#products_table tbody tr td:last-child {
  border-right: 1px solid #5576aa;
  border-radius: 0px 20px 20px 0px !important;
}

#products_table tbody tr:hover {
  background-color: #d0d9e7 !important;
}

.dropd_categorias {
  width: 100%;
  color: #f0f2f5;
  border: none !important;
  border-radius: 20px !important;
  background-color: #5576aa !important;
}

.dropd_categorias:hover,
.dropd_categorias:active,
.dropd_categorias[aria-expanded="true"] {
  background-color: #1e293b;
  color: #f0f2f5;
}

.itemsCategorias_dropD {
  color: #1e293b;
  display: flex;
  justify-content: center;
}

.itemsCategorias_dropD:hover {
  color: #f0f2f5 !important;
  background-color: #5576aa !important;
  border: 1px solid #5576aa;
  border-radius: 20px;
}

table,
th,
td {
  height: fit-content;
}

#icons_container {
  height: 100%;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleCategorias_table {
  background-color: #d0d9e7;
  height: 6vh;
  font-weight: 500;
  text-align: center;
  position: sticky;
  top: 11vh;
  border-radius: 20px !important; 
  border: 1px solid #5576aa !important;
}

#btn_agg {
  background-color: transparent;
  border: none !important;
  color: #5576aa;
}

#btn_agg:hover {
  transform: scale(1.2);
  color: #1e293b;
}

#btn_modificar {
  background-color: transparent;
  border: none;
  color: orange;
}

#btn_modificar:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 8px rgba(255, 165, 0, 2));
}

.btn_eliminar {
  background-color: transparent !important;
  border: none !important;
  color: #a12e2e !important;
}

.btn_eliminar:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px rgba(161, 46, 46, 2));
}
